/*

  _____________________________
 | 							               |
 |  Date Created : 21/04/2017  |
 |  Author : Mahardika asu	   |
 |  Style  : Login Form Styles |
 |_____________________________|

 */
 body{
  background-color: white;
 }
 *{
  font-family: calibri;
 }
 .container{
 	padding: 8px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 2px 3px 30px 3px #8a8a8a;
    border-left:13px solid yellow;
    background: linear-gradient(45deg,#0078f0,#24b8ff);
 }
 h1{
 	font-family: Calibri;
 	letter-spacing: 10px;
  color: #191919;
 }

 .kotak{
 	border-radius: 10px;
 	padding: 2%;
 	margin-bottom: 15px;
 }
 .input-control{
 	display: block;
  width: 60%;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 5px;
  line-height: 1.428571429;
  color: white;
  vertical-align: middle;
  background-image: none;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgba(0,0,0,0);
  animation-name: stretch;
  animation-duration: 0.5s;
 }
 .input-control::placeholder{
  color: white;
 }

 .btn-login{
 	padding: 2%;
 	width: 50%;
 	border-radius: 35px;
 	border: 1px solid white;
 	font-size: 30px;
 	letter-spacing: 5px;
  background-color: rgba(0,0,0,0);
  color:white;
  animation-name: faded;
  animation-duration: 1s;
  -webkit-transition: all 0.25s linear;
 }
 .btn-login:hover{
  -webkit-transition: all 0.25s linear;
  background-color: white;
  color: black;
  cursor: pointer;
 }
/*ANIMATION*/
 @keyframes kedip{
  0%{color: white;}
  25%{color: black;}
  50%{color: white;}
  75%{color: black;}
  100%{color: white;}
 }
 @keyframes stretch{
  0%{width: 20%;}
  25%{width: 30%;}
  50%{width: 40%;}
  75%{width: 50%;}
  100%{width: 60%;}
 }
 @keyframes faded{
  0%{opacity: 0.3px;}
  25%{opacity: 0.5px;}
  50%{opacity: 0.6px;}
  75%{opacity: 0.8px;}
  100%{opacity: 1px;}
 }
 /*RESPONSIVE DESIGN*/
 @media(max-width:768px){
 .container{
  padding: 5%;
 }
}
 @media(max-width: 425px){
  .container{
    width: 250px;
    font-size: 12px;
  }
  .btn-login{
    font-size: 18px;
  }
 }
 @media(max-width: 320px){
    .container{
      width: 150px;
      font-size: 8px;
      padding: 20%;
    }
    .kotak{
      padding: 1%;
    }
    .btn-login{
      padding: 13%;
      width: 150px
    }
    .input-control{
      width: 150px;
    }
 }
